{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
resources
{% endblock title %}

{% block body %}
{% if user.is_authenticated %}

    <center>
        <br>
        <br>
        <br>
    <p>you are rickrolled for now XD</P>
    
    {% for video in videos %}
    <video width="500" height="330" controls autoplay loop muted id=vid>
        <source src="{% static video %}" type="video/mp4">
    </video>
    <script>
        document.getElementById('vid').play();
    </script>
    {% endfor %}
    </center>
{% else %} 
    <div class="container pt-3">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}

        <p>Dont have an account? Create one <a href="/register">here</a> </p>
    </form>
    </div>
{% endif %}

{% endblock body %}